/* 静态文件导入 自定义样式*/
footer:before {
  background-color: rgba(255, 242, 226, 100);
}
.dark footer{
background: none;
}

/*背景颜色渐变*/
#wrapper{
background: #FFF2E2 50%
}
.dark #wrapper{
background: none;
}
